/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body{
 background: #f9f9f9;
}


table{
margin: 20px auto;
padding: 0 ;
font-size: 20px;
text-align: center;
 background: #f9f9f9;
}

thead {
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}

td{
	    display: inline-block;
			color:   #000000 ;
	    height: 4em;
	    line-height: 3em;
	    text-align: center;
	    width: 5em;
	}

#nav li {
	display: inline;
	padding : 0 0.9em;
}

 ul {
	margin: 30px auto;
 padding: 0 ;
 text-align: center ;
}

 li a {
	 color: #f1f6f9;
	 font-size:25px;
	font-family: Calibri,serif;
	text-decoration: none;
}

#nav{
	background-color: #3faadf;
	border-bottom: 1px solid #3faadf;
	overflow: auto;
}

header{
margin: 30px auto;
font-size: 35px;
text-align: center;
position: relative;

}

#header{
	height: 165px;
	font-family: tahoma;
	text-align: center;
	float: right;
  margin:0 ;

}

h1{
	color:#3e3e3e;
	font-family: cursive serif;
	text-transform: uppercase;
	font-weight: 400;

}
